@import url("reset.css");
@import url("01cabecalho.css");
@import url("02chamada.css");
@import url("03comparacao.css");
@import url("04sobre.css");
@import url("05linha-tempo.css");
@import url("06acordeon.css");

:root{
   --fonte-textos: 'Quicksand', sans-serif;
   --fonte-titulos: 'Fredericka the Great', cursive;

   --fonte-extra-grande: 2.5rem;
   --fonte-grande: 1.5rem;
   --fonte-normal: 1rem;
   --fonte-pequena: 0.75rem;

   --vermelho-principal: #A30808;
   --vermelho-secundario: #C00C22;
   --vermelho-secundario-opaco: #C00C2266;
   --cinza-grafite: #212121;
   --cinza-grafite-opaco: #21212166;
   --preto: #0f0609;
   --branco: #F0D6D6;

   --altura-cabecalho: 10vh;
}

*{
   box-sizing: border-box;
}

body{
   background-color: var(--cinza-grafite);
   font-family: var(--fonte-textos);
   overflow-x: hidden;
}

.cabecalho{
   background-color: var(--preto);
   width: 100%;
   height: var(--altura-cabecalho);
   display: flex;
   box-shadow: 0 0 25px -10px var(--branco); 
   
   overflow-y: hidden;  
   z-index: 1;
}

.chamada{
   height: calc(100vh - var(--altura-cabecalho));
   padding: 3em 3em 2em;
}

.comparacao{
   min-height: 100vh;
   padding: 3em 3em 2em;
   background-color: var(--branco);
   box-shadow: inset 0 0 50px 5px var(--cinza-grafite), 0 5px 35px -10px var(--branco); 
}

.sobre{
   min-height: 100vh;
   padding: 2em 3em;

   display: flex;
   align-items: center;
   gap: 0.5rem;
}

.linha-tempo{
   min-height: 100vh;
   padding: 3em 3em 2em;
   background-color: var(--branco);
   box-shadow: inset 0 0 50px 5px var(--cinza-grafite), 0 5px 35px -10px var(--branco);    
}

.acordeon{
   min-height: 100vh;
   padding: 2em 3em;
}