#cabecalho--check{
   display: none;
}

.cabecalho--redes{
   position: absolute;
   top: -100%;
   background-color: var(--preto);
   opacity: 0.7;
   transition: 1.5s ease-in-out;
   z-index: 0;
   height: calc(100vh - var(--altura-cabecalho));
}

#cabecalho--check:checked ~ .cabecalho--redes{
   top: var(--altura-cabecalho);
   z-index: 0;
}

.cabecalho--redes--lista{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 100%;
}

.cabecalho--redes--lista--item{
   width: calc(var(--altura-cabecalho) * 1.5);
   padding: 0 0.75em;
}

.link--imagem{
   width: 100%;
   filter: brightness(0) invert(1) brightness(0.7);   
   transition: 0.4s ease-in-out;
}

.link--imagem:hover{
   transform: scale(1.04) translate(4px);
}

#cabecalho--check:checked ~ .cabecalho--menu{
   animation-name: rodar;
   animation-duration: 1.5s;
   animation-timing-function: linear;
   z-index: 2;
}

@keyframes rodar{
   0%{}
   30%{width: calc(var(--altura-cabecalho) - 15px);}
   60%{rotate: 180deg;  width: var(--altura-cabecalho);}
   70%{rotate: 200deg;}
   100%{rotate: 180deg}
}

@keyframes desrodar{
   0%{}
   30%{width: calc(var(--altura-cabecalho) - 15px);}
   60%{rotate: -180deg;  width: var(--altura-cabecalho);}
   70%{rotate: -200deg;}
   100%{rotate: -180deg}
}

.cabecalho--menu{
   height: 100%;
   width: calc(var(--altura-cabecalho) * 1.5);
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15%;
   margin-right: auto;
   z-index: 2;
   background-color: var(--preto);

   animation-name: desrodar;
   animation-duration: 1.5s;
   animation-timing-function: linear;
}

.menu--bg-fixo{
   height: var(--altura-cabecalho);
   width: 50%;
   background-color: var(--preto);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}

.cabecalho--menu--linha{
   border-bottom: 2px solid var(--branco);
   width: 50%;
}

.cabecalho--logo{
   height: 100%;
   filter: invert(1) contrast(0.1) opacity(0.5);
   mix-blend-mode: hard-light;
   margin-right: 0.5rem;
}

.cabecalho--nome{
   font-family: var(--fonte-titulos);
   color: var(--branco);
   font-size: var(--fonte-grande);
   display: flex;
   align-items: center;
   margin-right: 1rem;
}