.chamada--titulo{
   font-family: var(--fonte-titulos);
   font-size: var(--fonte-extra-grande);
   color: var(--branco);
   text-align: center;
   margin-bottom: 8.5rem;
}

.chamada--secao{
   display: flex;
   height: 70%;
   gap: 1rem;
}

.chamada--secao--destaque{
   flex: 1;
   height: 75%;
   max-height: 300px;

   padding: 2em;
   background-color: rgba(256,256,256, 0.1);
   border-radius: 2em;
   perspective: 1000px;
   margin-left: calc(var(--altura-cabecalho) * 1.25);
}

.chamada--secao--destaque--titulo{
   font-size: var(--fonte-grande);
   color: var(--branco);
   margin-bottom: 1rem;
}

.chamada--secao--destaque--texto{
   font-size: var(--fonte-normal);
   color: var(--branco);
   line-height: var(--fonte-grande);
   margin-bottom: 2rem;
}

.chamada--secao--destaque--botao{
   background-color: var(--vermelho-secundario);
   color: var(--branco);
   text-decoration: none;
   font-size: var(--fonte-normal);
   font-weight: 700;

   box-shadow: 0 2px 20px 0 var(--preto);

   display: block;
   padding: 1em 1.75em;
   width: 50%;
   text-align: center;
   margin: 0 auto;
   border-radius: 2em;
   transition: 0.3s ease-out;

   animation-name: brilhar;
   animation-duration: 1.3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes brilhar{
   0% {filter: brightness(1);}
   30% {filter: brightness(1.3);}
   100% {filter: brightness(1);}
}

.chamada--secao--destaque--botao:hover{
   transform: scale(1.01);
}

.chamada--secao--destaque--botao:active{
   transform: translateZ(-50px);
   box-shadow: 0 1px 5px 0 var(--preto);
}


.chamada--secao--bg{
   flex: 1; 
   height: 75%;
   max-height: 300px;

   background-image: url("../img/foto01.png"), url("../img/foto01.png"), url("../img/foto01.png");
   background-size: 75%;
   background-position: 7vw 0;
   background-repeat: no-repeat;
   background-blend-mode:soft-light;
}