.linha-tempo--titulo{
   font-family: var(--fonte-titulos);
   font-size: var(--fonte-extra-grande);
   color: var(--vermelho-principal);
   text-align: center;
}

.linha-tempo--linha{
   width: 60%;
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 2.5rem;
}

.linha-tempo--linha::after{
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height: 100%;
   width: 2px;
   background-color: var(--cinza-grafite-opaco);
   z-index: -1;
}

.linha-tempo--linha--item{
   width: 50%;
   padding: 1em 2em;
   background-color: var(--vermelho-secundario-opaco);
   margin-bottom: 8.5rem;
   
   transition: 2.5s ease-in-out;
}

.linha-tempo--linha--item:last-child{
   margin-bottom: 0;
}

.linha-tempo--linha--item:nth-child(2n -1){
   float: left;
   clear: right;
   transform: translateX(-15px);   
   border-radius: 2em 5px 2em 2em;
}

.linha-tempo--linha--item:nth-child(2n){
   float: right;
   clear: left;
   transform: translateX(15px);
   border-radius: 5px 2em 2em 2em;
}

.fora-tela:nth-child(2n -1){
   transform: translate(-100vw, -100px) rotate(45deg) ;
}

.fora-tela:nth-child(2n){
   transform: translate(100vw, -100px) rotate(-45deg);
}

.linha-tempo--linha--item::after{
   content: "";
   width: 0.75em;
   height: 0.75em;
   position: absolute;
   top: -.625em;
   background-color: var(--vermelho-principal);
   border: 1px solid var(--vermelho-principal);
   border-radius: 50%;
   box-sizing: border-box;
   transition: 1.5s ease-in-out;
}

.linha-tempo--linha--item:nth-child(2n -1)::after{
   right: 0;
   transform: translateX(calc(15px + (0.75em/2)));
}

.linha-tempo--linha--item:nth-child(2n)::after{
   left: 0;
   transform: translateX(calc(-1*(15px + (0.75em/2))));
}

.linha-tempo--linha--item:hover::after{
   border: 1px solid var(--vermelho-principal);
   background-color: var(--branco); 
}

.linha-tempo--linha--item--ano{
   color: var(--branco);
   font-size: calc(var(--fonte-normal) + 2px);
   font-weight: 600;
   margin-bottom: 0.5em;
}

.linha-tempo--linha--item--descricao{
   color: var(--cinza-grafite);
   line-height: 1.5em;
}

strong{
   font-weight: 600;
}
