.acordeon--titulo{
   font-family: var(--fonte-titulos);
   font-size: var(--fonte-extra-grande);
   color: var(--branco);
   text-align: center;
   margin: 3rem auto 2rem;
}

.acordeon--botao{
   width: 75%;
   height: 4.5rem;
   display: block;
   margin: 0 auto;
   background: linear-gradient(90deg, var(--branco) -40%, var(--vermelho-secundario) 100%);
   border: none;
   color: var(--branco);
   font-weight: bold;
   font-family: var(--fonte-textos);
   font-size: var(--fonte-normal);
   text-shadow: 2px 1px var(--cinza-grafite);
   transition: 0.7s linear;
}

.acordeon--botao:hover{
   filter: brightness(1.15);
   transform: scale(1.002);
   transition: 0.3s ease-in-out;
}

.mostrar{
   background: linear-gradient(90deg, var(--branco) -40%, var(--cinza-grafite) 150%);
}

.mostrar:hover{
   filter: none;
   transform: none;
}

.acordeon--botao:first-of-type{
   border-radius: 15px 15px 0 0;
}

.acordeon--caixa-texto{
   background-color: var(--branco);
   box-shadow: inset 0 0 20px 2px var(--cinza-grafite);   
   width: 75%;
   max-height: 0;
   overflow: hidden;
   display: block;
   margin: 0 auto;
   transition: max-height 0.3s linear;
}

.mostrar+.acordeon--caixa-texto{
   max-height: 7rem;
   transition: max-height 1s ease-in-out;
}

.acordeon--texto-container{   
   width: 60ch;   
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.acordeon--texto{
   color: var(--cinza-grafite);
   font-size: var(--fonte-normal);
   line-height: 1.25rem;
   padding: 1em 0;
   text-align: justify;
   display: inline-block;
}

strong{
   font-weight: 600;
}